<app-navbar></app-navbar>
<div class="container">
        <br>
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="inputText">Department Id</label>
            <input type="text" class="form-control" id="inputEmail" placeholder="Enter Dept ID">
          </div>
          <div class="form-group">
            <label class="sr-only" for="inputText">Department Name</label>
            <input type="text" class="form-control" id="inputPassword" placeholder="Enter Dept. Name">
          </div>
          <button type="submit" class="btn btn-success">Add Depatment</button>
        </form>
        <br>
        <br>
</div>
<hr>