hr{
    box-shadow: 0 0 2px grey;
}
button {
    background-color:#1ab394;
    color: #ffffff;
    font-family: 'Trocchi', serif;
     font-size: 15px;
     height: 1.5em;
     width: 6em;
     text-align: center;
     line-height: 10px;
    font-weight: normal;
 margin: 0; }
 label { color: #000000;
    font-family: 'Trocchi', serif;
     font-size: 15px;
    font-weight: bold;
    line-height: 48px; margin: 0; }
    b{
        color:red
    }