<app-navbar></app-navbar>
<div class="container">
        <br>
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="inputText">program Id</label>
            <input type="text" class="form-control" id="inputEmail" placeholder="Enter program ID">
          </div>
          <div class="form-group">
            <label class="sr-only" for="inputText">program Name</label>
            <input type="text" class="form-control" id="inputPassword" placeholder="Enter program Name">
          </div>
          <button type="submit" class="btn btn-success">Add Program</button>
        </form>
        <br><br>
</div>
<hr>