<app-navbar></app-navbar>
<div class="container">
  <br>
  <form class="form-inline" (ngSubmit)="addProgram()"  #addform="ngForm">
    <div class="form-group">
      <label class="sr-only" >Program Name</label>
      <input type="text" class="form-control" name="programName" [(ngModel)]="model.programName"  required #programName="ngModel" placeholder="Enter Program Name" #ProgramName>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!addform.form.valid">Add Program</button>
  </form>
  <br>
  <br>
  </div>
<hr>