<app-navbar></app-navbar>
<div class="container">
  <br>
  <form class="form-inline" (ngSubmit)="addAcademicYear()"  #addform="ngForm">
    <div class="form-group">
      <label class="sr-only" >Academic Year</label>
      <input type="text" class="form-control" name="academicYear" [(ngModel)]="model.academicYear"  required #academicYear="ngModel" placeholder="Eg 2018/2019" #academicYear>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!addform.form.valid">Add Academic Year</button>
  </form>
  <br>
  <br>
  </div>
<hr>